/* Global */
body, p{
    font-size: 1.5rem; 
}
body, h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
@media only screen and (max-width: 40em) {
    section h1{
        font-size: 1.75rem;
    }
}
h2.subsection{
    margin: 1rem 0;
    font-size: 1.25rem;
}
p.info{
    font-size: 0.75rem;
}
span.selectable
{
    border-bottom: 1px solid gray;
}
.selectable{
    cursor: pointer;
}
.message-holder .info {
    line-height: 1rem;
}
.row.message-holder {
    height: 1rem;
}
/* Introduction */
#introduction, section h1
{
    text-align: center;
}
#introduction h1 {
    font-size: 4.25rem;
}
#introduction p.info {
    text-align: center; 
    max-width: 45rem; 
    margin: auto;
}
main.row{
    padding:0 0.125rem;
}
/* Who */
#who, #all-going, #done-selecting{
    display: none;
}
#who h1{
    margin-top: 2rem;
}
#who > .info{
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 1rem;
}
.friend{
    font-size: 0.75rem;
    margin-bottom: 1rem;
}
.friend .friend-wrapper{
  background-color: #f6f7f8;
  box-shadow: 1px 1px #D8DADC;
}
.friend.selected .friend-wrapper {
  color: whitesmoke;
  box-shadow: 1px 1px #238896;
  background-color: #2daebf;
}
.friend .profile-photo .photo-wrap {
    width: 30%;
    padding-right: 0.5rem;
    float: left;
}
.friend .profile-photo .photo-wrap img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}
.friend .details{
    width: 70%;
    float: left;
}
.friend .details .friend-name {
    font-weight: 400;
    font-size: 0.75rem;
}
.friend .details .friend-location {
    font-style: italic;
}
#done-holder.small-6.columns {
    display: flex;
}
#done-holder button {
    align-self: flex-end;
}
#done-holder .fi-arrow-right {
    margin-left: 1rem;
} 

/* What */
#what{
    display: none;
}
#map-canvas{
    width: 100%;
    background-color: rgb(0, 175, 90);
    min-height: 20rem;
}
#what-intro{
    margin: 1rem 0;
}
#what section h2{
    margin: 1rem 0;
}
#who .row .friend:last-child,
#who-is .row .friend:last-child,
#likes .row .columns:last-child {
  float: left;
}
#likes li {
    list-style: none;
}
#likes ul {
    margin: 0;
    margin-left: 1rem;
}
/* Google Map */
#no-results {
    display: none;
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    padding: 0.25rem;
    top: 50%;
    left: 50%;
}
/* For Google Map */
#map-canvas img { max-width: none; }
#map-canvas label { width: auto; display: inline; }
article.place {
  font-size: 1rem;
}
article.place .heading{
  height: 1rem;
}
article.place .icon{
  height: 70%;
  display: inline;
  vertical-align: baseline;
  padding-right: 1rem;
}
article.place h1 {
  display: inline;
  font-size: 1rem;
  font-weight: 600;
}
article.place address {
  font-size: 0.75rem;
  font-weight: 400;
  color: gray;
  display: inline;
}
article.place .cost {
  font-size: 0.75rem;
  color: #00933B;
  font-weight: 600;
}

/* Footer */
#google-logo-holder{
    margin-top: 1rem;
}
#google-logo{
    display: block;
    margin: auto;
}
