/* Global */
body, p{
    font-size: 1.5rem; 
}
body, h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
section#who input,
section#what input{
    border-radius: 1em;
}
section#introduction, section h1
{
    text-align: center;
}
section#introduction h1 {
    font-size: 4.25rem;
}
section section h2{
    font-size: 1.25rem;
}
@media only screen and (max-width: 40em) {
    section h1{
        font-size: 1.75rem;
    }
}
/* Introduction */
#introduction p.info {
  font-size: 0.75rem;
}
/* Who */
.friend{
    font-size: 0.75rem;
    padding-bottom: 1rem;
    cursor: pointer;
}
.friend > .profile-photo {
    width: 30%;
    padding-right: 0.5rem;
    float: left;
}
.friend > .profile-photo .photo-wrap {
    /* max-width: 80px; */
}
.friend > .details {
    width: 70%;
    float: right;
    /* border: 1px solid; */
}
.friend-name {
    font-weight: bold;
    font-size: larger;
}
section#friends-selected {
    display: none;
    border-bottom: 1px solid gray;
    margin-bottom: 16px;
}
.go-holder.small-6.columns {
    display: flex;
}
.go-holder button {
    align-self: flex-end;
}
.go-holder .fi-arrow-right {
    margin-left: 1rem;
} 
/* What */
#map-canvas{
    width: 100%;
    background-color: green;
    min-height: 20rem;
}
#what-intro{
    margin: 1rem 0;
}
#what section h2{
    margin: 1rem 0;
}
#who-is .row .friend:last-child,
#likes .row .columns:last-child {
  float: left;
}
section#likes{
    background-color: whitesmoke;
    padding-bottom: 1rem;
}
#likes li {
    list-style: none;
}
#likes ul {
    margin: 0;
}

span.clickable
{
    border-bottom: 1px solid gray;
    cursor: pointer;
}
#no-results {
    display: none;
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    padding: 0.25rem;
    top: 50%;
    left: 50%;
}
/* For Google Map UI Glitch */
#map-canvas img { max-width: none; }
#map-canvas label { width: auto; display: inline; }